<table class="table table-striped">
    <!-- table heading -->
    <thead class="text-center">
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Discount Percentage</th>
            <th scope="col">Discounted Price</th>
            <th scope="col">Images</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>


    <!--productId 
        productName: '',
        size: '',
        actualPrice: 0,
        discountedPrice: 0,
        discountPercentage: 0, -->

    <!-- table body -->
    <tbody>
        <tr *ngFor="let p of products" class="text-center">
            <!-- firstname column -->
            <td scope="col">{{p.productId}} </td>
            <!-- lastname column -->
            <td scope="col"> {{p.productName}}</td>
            <!-- mobile column -->
            <td scope="col">{{p.actualPrice}} ₹ </td>
            <!-- email column -->
            <td scope="col">{{p.discountPercentage}} % </td>
            <!-- gender column -->
            <td scope="col">{{p.discountedPrice}}₹ </td>
            <td scope="col">
                <!-- edit/update button -->
                <button type="button" (click)="openDialog(p.productImages )" class="btn btn-primary btn-style ">
                    <mat-icon>
                        images
                    </mat-icon>
                </button>
            </td>

            <td scope="col">
                <!-- edit/update button -->
                <button type="button"  class="btn btn-success btn-style " [routerLink]="'/admin/update/'+p.productId">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
            </td>
            <td scope="col">
                <div>
                    <!-- delete button -->
                    <button type="button" class="btn btn-danger btn-style " (click)="deleteProduct(p.productId)">
                        <mat-icon>
                            delete
                        </mat-icon>
                    </button>
                </div>
            </td>
        </tr>

    </tbody>
</table>