<div class="container-fluid">
    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="login_box_img">

                        <img class="img-fluid" src="https://selloship.com/assets/store_new/2/img/login.jpg" alt="">
                        <div class="hover">
                            <h4>Already have an account</h4>
                            <a class="primary-btn" href="https://shoeclick.selloship.com/store_login.html">Login</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card">
               
                <div class="card-body">
                    
                </div>
                
            </div>
        </div>
    </div>
</div>